{:deps {depify
        #_{:git/url "https://github.com/hagmonk/depify"
           :sha     "04329744872890711dbba8939a16e9987dd33bb3"}
        {:git/url "https://github.com/tomasd/depify"
         :sha     "ff7e7eed4f2d2f3d17b5962a7e1e4758f3c822e5"}}}
